ul .bankInfo {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
}

ul li {
  display: block;
  margin-right: 30px;
}

input.txt {
  border: 0;
  padding: 1em;
  width: 30%;
  margin-bottom: 2em;
}
