<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" [href]='sanitizer.bypassSecurityTrustResourceUrl(cssUrl)'>
<h1>Welcome to app!</h1>
<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="about/55">About</a></li>
  <li><a routerLink="bank-code">Bank-Code</a></li>
  <li><a routerLink="partner">Partner</a></li>
  <li><a routerLink="write-vda">VDA</a></li>
  <li><a routerLink="write-vda-direct">VDA-direct</a></li>
  <li><a href="https://www.google.com/" appExternalUrl>Click Me</a></li>
</ul>

<app-alert></app-alert>
<router-outlet></router-outlet>
